body {
  padding: 59px 0 0 0;
  min-height: 100vh;
}

nav.navbar {
  border-bottom: 1px solid black;
}

ul.navbar-nav {
  border-top: 2px solid #06B600;
  border-bottom: 2px solid #06B600;
  height: 2em;
}

ul.navbar-nav > li {
  align-items: center;
}

ul.navbar-nav > li > a {
  padding: 0;
  color: black !important;
}

ul.navbar-nav > li > a:hover {
  color: #E8751C !important;
}

nav > div.container-fluid {
  padding: 0;
}

nav > div.container-fluid > div.row {
  width: 100vw;
}

span#acessar {
  color: #E8751C !important;
  font-weight: bolder;
}

footer > div.container-fluid {
  background-color: lightgrey;
}

footer > div.container-fluid:first-child {
  padding: 5px 15px;
}