<footer class="footer mt-auto">
  <section class="container-fluid d-flex justify-content-center align-items-center">
    <span class="col-4 footer-text ">Rua Herculano Gouvea Neto 460</span>
    <span class="col-3 footer-text ">CNPJ: 024.310.290/0001-38</span>
    <span class="col-2 footer-text ">(19)3430-1544 </span>
    <span class="col-3 footer-text ">Email: adm@plaza.com</span>
  </section>
  
  <div class="container-fluid d-flex justify-content-center">
    <span class="footer-text ">Desenvolvido por Santander Coders  </span>
  </div>
</footer>