<footer class="footer mt-auto">
    <div class="container-fluid d-flex justify-content-center">
      <span class="col-3">Endereço</span>
      <span class="col-3">CNPJ</span>
      <span class="col-3">Telefone</span>
      <span class="col-3">E-mail</span>
    </div>
    <div class="container-fluid d-flex justify-content-center">
      <span>Copyright</span>
    </div>
  </footer>