<footer class="footer mt-auto">
  <section class="container-fluid d-flex justify-content-center align-items-center">
    <span class="col-3">Endereço</span>
    <span class="col-3">CNPJ</span>
    <span class="col-3">Telefone</span>
    <span class="col-3">E-mail</span>
  </section>
  
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <span>Copyright</span>
  </div>
</footer>