<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= titulo %></title>

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/fontawesome.min.css">
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/solid.min.css">
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/regular.min.css">

<link rel="stylesheet" href="/jquery-toast-plugin/dist/jquery.toast.min.css">
<link rel="stylesheet" href="/css/toast.css">

<link rel="stylesheet" href="/css/style.css">
