<section id="sessaoLazer" class="pFirst flex-column d-flex justify-content-between">
    <div class="container   flex-fill">
      
      <hr id="headerScrollLazer">
      
      <div class="d-flex flex-column position-relative align-items-center justify-content-center pt-5 text-center">
        <h1>Lazer</h1>
        <h2>Diversas opções para você e seus filhos</h2>
      </div>
      <div class="align-items-center d-flex justify-content-around p-5">
        <div class="d-flex flex-wrap overflow-hidden " id="conteinerCardLazer" >

          <div class="card text-center">
            <img id="lazerImagePiscina" onclick="openModal('lazerImagePiscina')" type="button" data-toggle="modal" data-target="#modalLazer" src="images/home/piscinaLazer2.jpeg" class="card-img-top" alt="Piscina">
          <div class="card-body">
            <h5 class="card-title">Piscina</h5>
            <p class="card-text">Some quick example text to build on the card title</p>
          </div>
        </div>
        <div class="card text-center">
          <img id="lazerImageChurrasqueira" onclick="openModal('lazerImageChurrasqueira')" type="button" data-toggle="modal" data-target="#modalLazer" src="images/home/churrasqueira.jpg" class="card-img-top" alt="Churrasqueira">
          <div class="card-body">
            <h5 class="card-title">Churrasqueira</h5>
            <p class="card-text">Some quick example text to build on the card title</p>
          </div>
        </div>
        <div class="card text-center">
          <img id="lazerImageQuadras" onclick="openModal('lazerImageQuadras')" type="button" data-toggle="modal" data-target="#modalLazer" src="images/home/quadra.jpg" class="card-img-top" alt="Quadras">
          <div class="card-body">
            <h5 class="card-title">Quadras</h5>
            <p class="card-text">Some quick example text to build on the card title</p>
          </div>
        </div>
        <div class="card text-center">
          <img id="lazerImagePlayground" onclick="openModal('lazerImagePlayground')" type="button" data-toggle="modal" data-target="#modalLazer" src="images/home/playground.jpeg" class="card-img-top" alt="Playground">
          <div class="card-body">
            <h5 class="card-title">Playground</h5>
            <p class="card-text">Some quick example text to build on the card title</p>
          </div>
        </div>
        

      </div>
        
    </div>

    <!-- Modais -->

    <div id="modalLazer" class="modal fade bd-example-modal-xl modalPiscina" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content d-flex align-items-center justify-content-center">
          <img src="" alt="">
        </div>
      </div>
    </div>

    <!-- Modais -->

  </section>