<section id="sessaoLazer" class="pFirst flex-column d-flex justify-content-between">
    <div class="container   flex-fill">
      <div class="row part1">
        <div class="col-12 d-flex part1 align-items-center pl-5 justify-content-start   ">
          <h1>Lazer</h1>
        </div>
      </div>
      <div class="row part2 align-items-center d-flex justify-content-around ">
        <div class="d-flex overflow-hidden " id="conteinerCardLazer" >

          <div class="card text-center" style="width: 18rem;">
            <img src="images/home/Portaria.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Piscina</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
            <button data-toggle="modal" data-target=".bd-example-modal-xl" class="btn " type="button">Mais detalhes</button>
          </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
          <img src="images/home/Portaria.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Churrasqueira</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
            <a href="#" class="btn ">Mais detalhes</a>
          </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
          <img src="images/home/Portaria.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Quadras</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
            <a href="#" class="btn ">Mais detalhes</a>
          </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
          <img src="images/home/Portaria.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Playground</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
            <a href="#" class="btn ">Mais detalhes</a>
          </div>
        </div>
        

      </div>
        
      </div>
    </div>

<!-- Modais -->

    <div class="modal fade bd-example-modal-xl modalPiscina " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class=" modal-content ">
          <h1>Teste</h1>
        </div>
      </div>
    </div>

<!-- Modais -->

  </section>
  <div class="container d-flex  align-items-center justify-content-center " id="alertBox4" >
    <h2>Diversas opções para você e seus filhos</h2>
  </div>