<section class="flex-column d-flex">
  <div class="container flex-column d-flex align-items-center justify-content-center">

    <hr id="headerScrollApartamento">
    
    <div class="d-flex flex-column align-items-center justify-content-center p-5 text-center">
      <h1>Apartamento</h1>
      <h2>Nossos apartamentos possuem 3 quartos, 2 banheiros e 1 suíte. 60m²</h2>
    </div>

    <div id="imageApartamentoDiv" class="d-flex align-items-center justify-content-center">
      <img id="imageApartamento" src="images/home/Planta-apartamento.jpg" alt="Portaria">
    </div>

    <div id="contentApartamento" class="d-flex flex-column align-items-center justify-content-center">

      <div class="d-flex flex-column align-items-center">
        <div id="buttonDiv" class="d-flex flex-wrap align-items-center justify-content-center pt-3">
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <button id="showPlanta" class="showButtons" onclick="changeShowButtonsText('showPlanta')">Planta</button>
          </div>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <button id="showQuartos" class="showButtons" onclick="changeShowButtonsText('showQuartos')">Quartos</button>
          </div>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <button id="showBanheiro" class="showButtons" onclick="changeShowButtonsText('showBanheiro')">Banheiros</button>
          </div>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <button id="showCozinha" class="showButtons" onclick="changeShowButtonsText('showCozinha')">Cozinha</button>
          </div>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <button id="showSala" class="showButtons" onclick="changeShowButtonsText('showSala')">Sala</button>
          </div>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <button id="showVaranda" class="showButtons" onclick="changeShowButtonsText('showVaranda')">Varanda</button>
          </div>
        </div>
        <div class="d-flex align-items-center text-center justify-content-center">
          <p id="buttonText" class="font-weight-lighter">Planta do apartamento, possui 3 quartos, 2 banheiros, 1 suíte, 1 varanda, 1 sala e 1 cozinha.</p>
        </div>
      </div>
    </div>
  </div>
</section>