<section id="pFirst" class="pFirst flex-column d-flex justify-content-between">
  <div class="container   flex-fill">
    <div class="row part1">
      <div class="col-12  d-flex part1 align-items-center pl-5 justify-content-start    ">
        <h1>Sobre</h1>
      </div>
    </div>


    <div class="row part2 flex-wrap">
      <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
        <div id="carouselDeImgs" class="carousel slide m-3" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselDeImgs" data-slide-to="0" class="active"></li>
            <li data-target="#carouselDeImgs" data-slide-to="1"></li>
            <li data-target="#carouselDeImgs" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/home/Portaria.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/home/Portaria.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/home/Portaria.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselDeImgs" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselDeImgs" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        


      </div>
      <div class="col-12 col-sm-6 d-flex align-items-center">
        <p class=" m-3 p-3">Desde 2000 buscando o melhor para nossos moradores, através das melhorias e da
          transparência. O objetivo sempre foi e será pensar no bem-estar coletivo e no respeito. A gestão vigente
          sempre busca construir e aprimorar os espaços de diálogo e apoio ofertados, fazendo com o que o condômino
          tenha maior confiança para seguir com a sua vida aqui. Nosso terreno possui 14 torres de apartamentos, além de
          diversas opções de lazer.
        </p>
      </div>



    </div>
  </div>
</section>
<div class="container d-flex  align-items-center justify-content-center " id="alertBox2">
  <h2>Segurança, tranquilidade e harmonia para sua família</h2>
</div>