<section id="pFirst" class="pFirst flex-column d-flex justify-content-between">
    <div class="container   flex-fill">
      <div class="row part1">
        <div class="col-12 d-flex part1 align-items-center pl-5 justify-content-start   ">
          <h1>Lazer</h1>
        </div>
      </div>
      <div class="row part2 align-items-center d-flex justify-content-around ">
        <div class="d-flex overflow-hidden " id="conteinerCardLazer" >

          <div class="card text-center" style="width: 18rem;">
            <img src="img/Portaria.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Piscina</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
            <a href="#" class="btn ">Mais detalhes</a>
          </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
          <img src="img/Portaria.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Churrasqueira</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
            <a href="#" class="btn ">Mais detalhes</a>
          </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
          <img src="img/Portaria.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Quadras</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
            <a href="#" class="btn ">Mais detalhes</a>
          </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
          <img src="img/Portaria.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Playground</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
            <a href="#" class="btn ">Mais detalhes</a>
          </div>
        </div>
        

      </div>
        
      </div>
    </div>
  </section>
  <div class=".container-fluid d-flex  align-items-center justify-content-center " id="alertBox4" >
    <h2>Se você já é morador, Acesse sua área exclusiva</h2>
  </div>