<header>
    <nav id="nav" class="navbar fixed-top navbar-expand-md navbar-light bg-light px-0">
      <div id="brand" class="d-flex justify-content-start align-items-center pl-0">
        <a class="navbar-brand" href="#body"><img class="logo" src="images/home/Logo.png" ></a>
      </div>
      <!-- /#brand -->

      <div id="toggler" class="order-1 order-md-0 d-flex">
        <button id="btnToggle" class="navbar-toggler border-0" type="button" data-toggle="collapse"
          data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- /#toggler -->

      <div id="navCollapse" class="collapse navbar-collapse order-1 order-md-0 pl-0">
        <div class="w-100 d-flex justify-content-end align-items-center">
          <ul class="navbar-nav my-auto flex-md-grow-1 d-flex justify-content-center">
            <li class="nav-item">
              <a class="nav-link text-body" href="#alertBox1">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="#alertBox2">Apartamento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="#alertBox3">Lazer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="#alertBox4">Localização</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="#alertBox5">Contato</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /#navCollapse -->

      <div id="acessar" class="flex-grow-1 flex-md-grow-0 d-flex justify-content-end justify-content-md-center align-items-center">
        <a href="/login">
          <span id="btnAcessar" class="navbar-text font-weight-bolder pr-md-2">
            <i class="fas fa-lock"></i>
            Acessar
          </span>
        </a>
      </div>
      <!-- /#acessar -->
    </nav>
  </header>
 