<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('includes/head', {titulo:titulo})%>
<body class="d-flex flex-column">
  
  <%- include('includes/header')%>

  <main>
    <p>teste</p>
  </main>

  
  <%- include('includes/footer')%>
</body>
</html>