<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('includes/head', {titulo:titulo})%>

  <link rel="stylesheet" href="/css/home/layout.css">
</head>
  
<body class="d-flex flex-column">

  <%- include('includes/home/header')%>

  <main>
    <section id="imgInicial" >
      <div>

        <h1>Plaza das Flores, o residencial perfeito para você</h1>
        
      </div>
  
    </section>
    <h1>Inserir conteúdo da página aqui</h1>
  </main>

  <%- include('includes/footer')%>

  <%- include('includes/scriptJS')%>
</body>
</html>