body {
  margin: 0;
  min-height: 100vh;
}

nav.navbar {
  border-bottom: 1px solid black;
}

.text-dark-orange {
  color: #E8751C;
}

a.text-dark-orange:hover {
  color: #FFA62B;
}

.modal {
  z-index: 100;
}

.modal-backdrop {
  z-index: 99;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#loading {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .2 )
              url('/images/loading.gif')
              50% 50%
              no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading #loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #loading {
  display: block;
}
