<aside class="d-flex justify-content-center vh-100 border-right border-dark">
  <nav class="nav bg-faded sidebar d-inline-block flex-column py-2">

    <a class="nav-link d-flex justify-content-start align-items-center text-white font-weight-bold" href="#">
      <i class="fas fa-cogs nav-icon mr-2"></i>
      <span class="text-link">Dashboard</span>
    </a>

    <a class="nav-link d-flex justify-content-start align-items-center text-white font-weight-bold" href="#">
      <i class="fas fa-cogs nav-icon mr-2"></i>
      <span class="text-link">Perfil</span>
    </a>

    <a class="nav-link d-flex justify-content-start align-items-center text-white font-weight-bold" href="#">
      <i class="fas fa-cogs nav-icon mr-2"></i>
      <span class="text-link">Áreas Comuns</span>
    </a>

    <a class="nav-link d-flex justify-content-start align-items-center text-white font-weight-bold" href="#">
      <i class="fas fa-cogs nav-icon mr-2"></i>
      <span class="text-link">Ocorrências</span>
    </a>

    <a class="nav-link d-flex justify-content-start align-items-center text-white font-weight-bold" href="#">
      <i class="fas fa-cogs nav-icon mr-2"></i>
      <span class="text-link">Visitantes</span>
    </a>

  </nav>
</aside>