<aside class="d-flex justify-content-center vh-100 border-right border-dark">
  <nav id="menu" class="nav bg-faded sidebar d-inline-block flex-column py-2">

    
  </nav>
</aside>
<script src="/javascripts/backoffice/aside.js"></script>