<aside class="hidden-xs-down">
  <div class="row">
    <nav class="col-sm-3 col-md-2 bg-faded sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-start align-items-center" href="#">
        <i class="fas fa-cogs nav-icon"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-start align-items-center" href="#">
        <i class="fas fa-cogs nav-icon"></i>
        Áreas Comuns
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-start align-items-center" href="#">
        <i class="fas fa-cogs nav-icon"></i>
        Ocorrências
      </a>
    </li>
  </ul>

  </nav>

</aside>