<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light d-flex justify-content-between p-0">
    <div id="brand" class="d-flex justify-content-start align-items-center pl-0">
      <a class="navbar-brand" href="/"><img class="logo" src="/images/home/Logo.png" alt="Logo do Condomínio"></a>
    </div>
    <!-- /#logo -->

    <div id="user" class="d-flex align-items-center pr-2">
      <a id="perfil" href="/backoffice/morador/perfil">
        <span class="navbar-text d-flex align-items-center">
          <%= usuario.nome %>  - Ap./Bl.
          <i class="far fa-user-circle mx-2"></i>
        </span>
      </a>

      <a id="perfilSm" href="/backoffice/morador/perfil">
        <span class="navbar-text d-flex align-items-center">
          Ap./Bl.
          <i class="far fa-user-circle mx-2"></i>
        </span>
      </a>
      
      <a id="logoutLink" href="/login/exit">
        <span id="logout" class="navbar-text">
          Sair
        </span>
      </a>
    </div>
    <!-- /#user -->
  </nav>
</header>
<script src="/javascripts/backoffice/header.js"></script>