<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="row d-flex justify-content-between align-items-center">
        <div id="logo">
          <a class="navbar-brand" href="#"><img src="source/img/logo.jpg" alt="Logo do Condomínio"></a>
        </div>
        <!-- /#logo -->

        <div id="user" class="d-flex align-items-center">
          <a href="#">
            <span id="perfil" class="navbar-text d-flex align-items-center">
              Fulano de Tal - Ap./Bl.
              <i class="far fa-user-circle"></i>
            </span>
          </a>
          
          <a id="logoutLink" href="#">
            <span id="logout" class="navbar-text">
              Sair
            </span>
          </a>
        </div>
        <!-- /#user -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>