#obs, .body-error {
  color: red;
}

#obs {
  font-size: 0.8rem;
}

a:hover {
  cursor: pointer;
}

@media (max-width: 1191px) {
  a[id^='excluirComunicado'] {
    margin-left: 0 !important;
    display: block;
  }
}
