body {
  padding-left: 14vw;
}

nav div.container-fluid {
  height: 43px;
}

nav div.row {
  width: 100vw;
}

nav div#user a:hover {
  text-decoration: none;
}

nav div#user span {
  color: #E8751C;
}

nav div#user span:hover {
  color: #FFA62B;
}

nav span#logout {
  font-weight: bold;
}

i.fa-user-circle {
  font-size: 2em;
  margin: 0 10px;
}

aside {
  background-color: #E8751C;
  height: 100vh;
  width: 8vw;
  border-right: 1px solid grey;
  position: fixed;
  left: 0;
  width: 25vw;
}

aside ul.nav {
  padding: 0 10px;
}

aside li.nav-item {
  border-bottom: 1px solid white;
}

aside li.nav-item:last-child {
  border-bottom: none;
}

aside a.nav-link {
  color: white;
  font-weight: bold;
}

aside a.nav-link:hover {
  color: #06B600;
}

aside a.nav-link i {
  margin-right: 0.5em;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    width: min-content;
}
@media (max-width: 678px){
  .hidden-xs-down {
      display: none!important;
  }}


