body {
    background-color: #eee; 
}

.container-flex{
    display: inline-block;

}

  
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}


/* caminho morador/perfil */
.breadcrumb *{
    color: #E8751C; 
}
.breadcrumb{
    padding-left: 0px;  
    margin-top: 10px;
    background-color: #eee; 
}


/* cartao principal */
#col-fotoPerfil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
    justify-content: center ;
    align-items: center;  
     
}

#col-fotoPerfil img{
    object-fit: cover;
    
}

.cardPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center; 
}
.card{
    border-color: #FFA62B;
    border: solid 1px #FFA62B;
    
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
    justify-content: center ;
    align-items: center; 
   
    
}

/* icons */
.card-body svg {
    color: #FFA62B;
}



/* dropdown pai */
.edicao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
    justify-content: center ;
    align-items: center; 
    background-color: #FFA62B;
}


#dropdownMenuButton{
    background-color:#E8751C;
    border: solid 2px #FFA62B;
    border-radius: 20px;
    width: 140px;

}
#btn-alterar{
    background-color: #E8751C;
    border-color: #E8751C;
    border-radius: 20px;
}



/* Caixas Moradores*/


.caixasPrincipal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    align-items: center;
    margin-left: 140px ;

    
}

.caixa {
    border: 1px solid #E8751C;
    border-radius: 10px;
    background-color: white;
    margin:20px 22px 10px 10px;

    
}

.head {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFA62B;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    justify-content: space-between;
    
}

.subtitulo {
    color: white;
    text-align: center;
    border-radius: 10px;
}

/* numero  */
.qtd {
    background-color: #E8751C;
    border-radius: 10px;
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn {
    background-color: #E8751C;
    color: white;
    text-align: center;
    border-radius: 18px;
    border-color: #E8751C;
    width: auto;
}

.corpoCaixa {
    padding: 10px;
    max-width: max-content;
    height: 20vh;
    max-height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: center ;
    align-items: center;  
}

.corpoCaixa img{
    
}
.rodape{
    text-align: center;
    justify-content: space-around;
    
}
.rodape a{
    text-decoration: none;
    color: #E8751C;

}









@media (max-width: 678px){
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row ;
        justify-content: flex-start ;
        align-items: flex-start;
        padding-right: 50px;
        
    }
    .cardPrincipal{
        margin-left: 10px;
        
    }

    .corpoCaixa{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row ;
        justify-content: center ;
        align-items: center;

    }

    .corpoCaixa img{
        height: 40px;
        width: 40px;
        object-fit: cover;
    }

    .caixasPrincipal{
    
        margin:0 ;
    
        
    }


}

/* espec telas menores */
@media (max-width: 900px) {
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row ;
        justify-content: flex-start ;
        align-items: flex-start;
        margin-left: 20px;
        
    }

    .caixa {
        margin-right: 0px;
    }
    .corpoCaixa{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row ;
        justify-content: center ;
        align-items: center;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 0;
    }

    .corpoCaixa img{
        height: 40px;
        width: 40px;
        object-fit: cover;
    }
    #dropdownMenuButton{
        width: 140px;
    
    }

}



/* espec telas menores */

@media (max-width: 400px) {
    .conteudo {
        flex-direction: column;
        
    }

}