.conteudo {
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw;
}
.busca{
    margin: 10px;

}
a{
    margin-left: 10px;
}
.acoes{
    background-color: #FFA62B;
    color: white;
    text-align: center;
    border-radius: 18px;
    border-color: rgb(3, 3, 3);
    width: 5vw;
    margin: 10px;
}
h1 {
    color: #E8751C;
}

h2 {
    color: #E8751C;
    font-size: 20px;
    text-align: center;
    display: contents;
}

label {
    color: #E8751C;
    margin-top: 5px;
}

.form-control {
    border-color: #E8751C;
}

.btn {
    background-color: #E8751C;
    color: white;
    text-align: center;
    border-radius: 18px;
    border-color: #E8751C;
    width: 10vw;
    margin: 10px;

}

.tituloTabela {
    background-color: #FFA62B;
    color: white;
}

.filtrar {
    text-align: center;
    background-color: #E8751C;
    color: white;
}

.table {
    margin: 10px;
    max-width: 80vw;

}

/* espec telas menores */

@media (max-width: 600px) {
    .conteudo {
        max-width: 70vw;

    }

    .btn {
        margin: 2px;
        height: 10vh;
        width: 100vw;

    }

    .table {
        margin: 10px;
        max-width: 50vw;

    }

    #andar {
        display: none;
    }

    #tipo {
        display: none;
    }

    .nome {
        width: 100vw;
    }

    .vazio {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

}