.corpo {
    background-color: #06B600;
     
 }
 .form-control {
     margin-top: 10px;
     border-color:  #E8751C ;
     border-radius: 15px;
     border-width:2px;
 }
 .formulario {
     width: 300px;
     height: 300px;
 }
 .container {
     background-color: white;
     padding: 20px;
     width:400px;
     height:358px;
     border-radius: 20px;
     margin-top: 18vh;
 }
 .btn {
     display: flex;
     color: #fff;
     background-color: #E8751C;
     border-color: #E8751C;
     width: 30%;
     display: table-column;
     border-radius: 20px;
 }
 .remember {
     text-align: center;
     align-content: center;
     margin-top: 30px;
     
 }
 a{
     color: black;
     text-decoration: underline;
 }
 .ckBottom {
     margin-top: 20px;
     
 }
 img{
     width: 300px;
     /* height: 100px; */
     align-content: center;
 }
 

 
 /* Inicio = CSS de botões temporário */
 
 #provisorio{
     border: black 1px solid;
     position: fixed;
     bottom: 15px;
     left:30%;
     right: 30%;
     background-color: blanchedalmond;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 #provisorio p {
     text-align: center;
 }
 
 /* Fim = CSS de botões temporário */
 
 