<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/head', {titulo: titulo}) %>

  <link href="/css/login/login.css" rel="stylesheet">
</head>

<body class="corpo">
  
  <div class="container">
    <div class="d-flex justify-content-center h-100">

      <form class="formulario" method="POST" action="/login">



        <div class="row">
          <div class="logo col-12"><img src="images/home/Logo.png" alt=""></div>
          <label for="email" class="sr-only col-2">Seu E-mail</label>
          <input type="text" id="email" name="email" class="form-control col-12" placeholder="Seu E-mail" required
            autofocus>
        </div>
        <div class="row">
          <label for="senha" class="sr-only col-2">Senha</label>
          <input type="password" id="senha" name="senha" class="form-control col-12" placeholder="Sua senha" required>
        </div>
        <div class="ckBottom row">
          <label class="checkbox col align-self-end">
            <input type="checkbox" name="remember-me" value="true"> Manter conectado
          </label>

          <button class="btn" type="submit">Entrar</button>
        </div>

        <div class="remember row">
          <button class="col-md" type="button" data-toggle="modal" data-target="#forgetPassword">Esqueci minha
            Senha</button>
        </div>
        
      </form>
      <!--------- Modal - Inicio - Esqueceu a senha ---------------->
      <div class="modal fade" id="forgetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Esqueceu seu senha ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
  
                <label for="ap" class="ml-2">Preencha com seu email:</label>
                <input type="text" id="ap" class="form-control m-0" placeholder="exemplo@email.com.br" required
                  autofocus>
              </div>
            </div>
            <div class="modal-footer">
  
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>
  
      <!--------- Modal- Fim - Esqueceu a senha ---------------->
      
    </div>
  </div>



  <!-- Inicio = Html de botões temporário -->
  <div id="provisorio">
    <p>Botões temporário só para teste de funcionamento</p>
    <a href="/backoffice/morador/dashboard"><button> Morador</button></a>
    <a href="/backoffice/sindico/moradores"><button> Síndico</button></a>
    <a href="/backoffice/portaria/areas_comuns"><button> Portaria</button></a>

  </div>
  <!-- Fim = Html de botões temporário -->
  <%- include('../includes/scriptJS')%>

  
  <%  if(typeof(error) != 'undefined'){ %>
    <%- include('../includes/utilities/errorAlert')%>
   <%  }   %>
</body>

</html>