<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../includes/head', {titulo: titulo}) %>

    <link rel="stylesheet" href="/css/backoffice/layout.css">
    <link rel="stylesheet" href="/css/backoffice/ocorrenciasMorador.css">
</head>

<body>
    <%- include('../../includes/backoffice/header') %>
    <%- include('../../includes/backoffice/aside') %>

    <main>
        <h1>Ocorrências</h1>

        <div class="container-flex col-12 col-md-8 offset-1 offset-md-2 px-0">
          <button type="button" class="btnNova btn btn-primary" data-toggle="modal" data-target="#novaOcorrenciaModal" data-whatever="@mdo">
            Ocorrências em Tratamento</button>
            <button type="button" class="btnNova btn btn-primary" data-toggle="modal" data-target="#novaOcorrenciaModal" data-whatever="@mdo">
            Ocorrências Concluídas</button>

        
            
          <div class="card-header r w-100 p-0 ">
                <h1></h1>
                <h5 class="m-0 p-1">Novas Ocorrências</h5>
                <button type="button" class="btnFiltro btn-primary" data-toggle="modal" data-target="#filtroModal" data-whatever="@mdo">
                  +Filtro
                </button>
            </div>
            
            
            <div class="table-responsive">
            <table class="table table-borderless table-striped table-hover">
                <thead>
                  <tr class="info">
                    <th scope="col">Título</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                    <th scope="col">Responder</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>Lâmpada Queimada</td>
                    <td>Manutenção</td>
                    <td></td>
                    <td>20/12/2020</td>
                    <td><button type="button" class="detalhes btn btn-primary " data-toggle="modal" data-target="#detalhes1Modal">
                      +
                     </button>
                       
                  </tr>

                  <tr>
                    <td>Som Alto</td>
                    <td>Reclamação</td>
                    <td>Em Análise</td>
                    <td>22/12/2020</td>
                    <td><button type="button" class="detalhes btn btn-primary " data-toggle="modal" data-target="#detalhes1Modal">
                      +
                     </button> 
                  </tr>

                  <tr>
                    <td>Som Alto</td>
                    <td>Reclamação</td>
                    <td>Em Andamento</td>
                    <td>22/12/2020</td>
                    <td> <button type="button" class="detalhes btn btn-primary " data-toggle="modal" data-target="#detalhes1Modal">
                      +
                     </button>  
                  </tr>

                  <tr>
                    <td>Som Alto</td>
                    <td>Reclamação</td>
                    <td>Concluída</td>
                    <td>22/12/2020</td>
                    <td> <button type="button" class="detalhes btn btn-primary " data-toggle="modal" data-target="#detalhes1Modal">
                      +
                     </button>  
                  </tr>
                
                </tbody>
              </table>
            </div>
         
                        
  </div>
        
    </main>
    <%- include('../../includes/scriptJS') %>
</body>

</html>

<!--Filtro Modal -->
<div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filtroModal">Filtro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="birthday">Data Início</label>
            <input type="date" id="birthday" name="birthday">
          </div>
          <div class="form-group">
            <label for="birthday">Data Final </label>
            <input type="date" id="birthday" name="birthday">
          </div>
          <div class="form-group">
            <label for="">Status</label>
            <select name="Tipo" id="status">
              <option value="Em Andamento">Em Andamento</option>
              <option value="Em Análise">Em Análise</option>
              <option value="Concluído">Concluído</option>

            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Filtrar</button>
      </div>
    </div>
  </div>
</div>

 <!-- Modal Detalhes 1 -->
<div class="modal fade" id="detalhes1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detalhes1Modal">Resposta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="">
          <div class="form-group">
          <h5>Arquivo </h5>
        <img src="https://media.istockphoto.com/photos/burnedout-light-bulb-isolated-on-white-background-with-shadow-burned-picture-id952090314" alt="" style="width: 100px; height: 100px; object-fit: cover; ">
      </div>
        
        <div class="form-group">
        <h5 >Mensagem Solicitante</h5>
        <p>Lâmpada do corredor queimada. Por favor, realizar a manutenção</p>
      </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label"><h5>Resposta</h5></label>
          <textarea class="form-control" id="message-text"></textarea>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Em Andamento</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Em Análise</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
          <label class="form-check-label" for="inlineCheckbox3">Concluído</label>
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>

                


                      
<!-- Modal Detalhes 2 -->

<div class="modal fade" id="detalhes1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detalhes2Modal">Resposta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="">
          <div class="form-group">
          <h5>Arquivo </h5>
        <img src="https://media.istockphoto.com/photos/burnedout-light-bulb-isolated-on-white-background-with-shadow-burned-picture-id952090314" alt="" style="width: 100px; height: 100px; object-fit: cover; ">
      </div>
        
        <div class="form-group">
        <h5 >Mensagem Solicitante</h5>
        <p>Lâmpada do corredor queimada. Por favor, realizar a manutenção</p>
      </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label"><h5>Resposta</h5></label>
          <textarea class="form-control" id="message-text"></textarea>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Em Andamento</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Em Análise</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
          <label class="form-check-label" for="inlineCheckbox3">Concluído</label>
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>

