body {
  padding: 62px 0 0 0;
}

.logo{
  width: 11em;
}

.fa-bars, ul.navbar-nav > li > a:hover, span#btnAcessar {
  color: #E8751C !important;
}

footer > div.container-fluid, footer > section.container-fluid {
  background-color: lightgrey;
}

#nav * , #nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

}

@media (min-width: 768px) {
  ul.navbar-nav > li {
    border-top: 2px solid #06B600;
    border-bottom: 2px solid #06B600;
    height: 2em;
  }
}

@media (min-width: 365px) and (max-width: 767px) {
  button#btnToggle > i {
    padding-left: 8px;
    border-left: 1.5px solid #E8751C;
  }
}

@media (max-width: 354px) {
  div#acessar {
    padding-right: 8px;
  }
}

@media (min-width: 1180px) {
  div#acessar {
    padding-left: 153px;
  }
}