body {
  padding: 10vh 0 0 0;
}

.logo{
  width: 11em;
}

ul.navbar-nav > li > button{
  border: none;

}
.fa-bars, ul.navbar-nav > li > button:hover, span#btnAcessar {
  color: #E8751C !important;
}

footer > div.container-fluid, footer > section.container-fluid {
  background-color: lightgrey;
}

#nav * , #nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

}

#nav{
  border-bottom: 2px solid #06b600;
  height: 10vh;
}

@media (min-width: 768px) {
  ul.navbar-nav > li {
    border-top: 2px solid #06B600;
    border-bottom: 2px solid #06B600;
    height: 2em;
  }
}

@media (min-width: 365px) and (max-width: 767px) {
  button#btnToggle > i {
    padding-left: 8px;
    border-left: 1.5px solid #E8751C;
  }
}

@media (max-width: 354px) {
  div#acessar {
    padding-right: 8px;
  }
}

@media (min-width: 1180px) {
  div#acessar {
    padding-left: 153px;
  }
}

/* #imgInicial{
   background-image: url("/img/Portaria.jpg"); 
  background-repeat: no-repeat;
  height: 93vh;
  background-size: cover;
   filter: brightness(80%); 
  text-align: center;
  
}

/* #imgInicial div{
display: flex;
justify-content: center; 
}

#imgInicial img {
  width: 500px;
}

#imgInicial h1{
  
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  box-shadow:0 0 10px black; 
  text-shadow: 0 0 3px rgba(1, 1, 1, 0.5);
  font-weight: 700;
  font-family: 'Bebas Neue';
  color: #E8751C;
}

#banner-acesse{
  background-color: orange;
  position: absolute;
  bottom: -4px;
  width: 100%;
 
} 
*/

#main{
  background-color:#efefef;
}

#pFirst{
  height: 90vh;
}

#pSecond{
  height: 90vh;
}