<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../includes/head', {titulo: titulo}) %>

  <link rel="stylesheet" href="/css/backoffice/layout.css">
  <link rel="stylesheet" href="/css/backoffice/dashboard.css">
</head>
<body>
  <%- include('../../includes/backoffice/header') %>
  <%- include('../../includes/backoffice/aside') %>

  <h1>DASHBOARD</h1>

  <div class="container-flex">

    <div class="quadro">

      <spa>

      </spa>

      <div class="conteudo">

      </div>
      
      




    </div>











  </div>




  
</body>
</html>