<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../includes/head', {titulo: titulo}) %>

    <link rel="stylesheet" href="/css/backoffice/layout.css">
    <link rel="stylesheet" href="/css/backoffice/ocorrenciasMorador.css">
</head>

<body>
    <%- include('../../includes/backoffice/header') %>
    <%- include('../../includes/backoffice/aside') %>

    <main>
        <h1>Ocorrências</h1>
        <div class="container">

            <div class="row">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#novaOcorrenciaCollapse" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Nova
                </a>
                <a class="btn btn-primary" data-toggle="collapse" href="#statusCollapse" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Histórico
                </a>
            </p>
        </div>
        </div>
    </main>
    <%- include('../../includes/scriptJS') %>
</body>

</html>


<!-- collapses estruturas-->

<div id="teste">


    <!-- collapse Nova Ocorrencia-->
<div class="collapse.show"  id="novaOcorrenciaCollapse" data-parent="#teste">
    <section class="row">

        <div class="caixaPrincipal col-12 col-md-8 offset-1 offset-md-2 px-0">
            <div class="card-header d-flex justify-content-center w-100 p-0">
                <h5 class="m-0 p-1">Nova Ocorrência</h5>
            </div>
                    <form>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Título</label>
                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex: Lâmpada Queimada">
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Dúvida</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Reclamação</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                            <label class="form-check-label" for="inlineCheckbox3">Manutenção</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                            <label class="form-check-label" for="inlineCheckbox3">Sugestão</label>
                          </div>
                          
                          <div class="form-group">
                            <label for="exampleFormControlFile1">Incluir Arquivos</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                          </div>

                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Mensagem</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div> 

                        <button type="submit" class="btn btn-primary my-1">Submit</button>

                        </form>
                </div>
    </section>
</div>


<!-- collapses Status/Historico-->

<div class="collapse" id="statusCollapse" data-parent="#teste">
    <section class="row">

        <div class="caixaPrincipal col-12 col-md-8 offset-1 offset-md-2 px-0">
            <div class="card-header d-flex justify-content-center w-100 p-0">
                <h5 class="m-0 p-1">Status/Histórico</h5>
            </div>
        
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
                        
    </section>
</div>



</div>




