<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../../includes/head', {titulo: titulo}) %>

  <link rel="stylesheet" href="/css/backoffice/layout.css">
  <link rel="stylesheet" href="/css/backoffice/perfil.css">
</head>
<body>
  <%- include('../../includes/backoffice/header') %>
  <%- include('../../includes/backoffice/aside') %>

  <div class="container-flex" >
    <h1>Perfil</h1>

    <div class="card mb-3" style="max-width: 70vw;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="https://static1.purebreak.com.br/articles/5/85/10/5/@/317506--bob-esponja-calca-quadrada-e-as-maiore-diapo-2.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Nome Morador</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="col-md-2">
        <div class="m-profileContainer__content">
          <div class="dropdown">
            <buttontype="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Alterar Senha
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuButton">
              <form class="dropdown-item">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nova Senha</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">a senha deve ter no mínimo 6 caracteres.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Repetir Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">teste</label>
                </div>
                <button type="submit" class="btn btn-primary">Alterar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
        
       </div>
      </div>
    </div> 
  </div>


  </body>
