<div class=" py-4 flex-nowrap w-100 d-flex">

    <% optionsButtonsTop.forEach(button => { %>

    <div class="px-0 pr-1 ">

        <button type="button" class="btn-sm btn-orange border-0 rounded-pill font-weight-bold"
            data-toggle=<%=button.dataToggle %> data-target=<%= button.dataTarget %>> <%= button.name %></button>

    </div>

    <% });   %>

</div>